*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    width: 80%;
    height: 7vh;
    padding: 10px;
    margin-top: 13px;
    margin-bottom: 5%;
    border: 2px solid rgb(43, 43, 43);
}
form{
    width:25%;
    height:50vh;
    border: 1px solid rgb(82, 82, 82);
    box-shadow: 0 0 5px rgb(161, 156, 156);
    background-color: rgb(100, 102, 102);
    border-radius: 10px;
    margin-top: 12%;
}
h2{
    padding: 20px;
}
.type{
    display: flex;
}
button{
    margin: 25px;
    padding: 5px;
    font-size: 18px;
    border: 1px solid rgb(7, 20, 7);
    border-radius: 5px 2px;
}

/*Dash board*/

.home-container{
    width: 100%;
}
.home-row{
    width: 100%;
    display: flex;
}
.home-row2{
    width: 100%;
    display: flex;
}
.home-col1{
    width: 30%;
    
}
.home-col2{
    width: 30%;
    
}
.home-col3{
    width: 30%;
}
.home-card{
    width: 60%;
    height: 45vh;
    padding: 5px;
    background-color:#FDFEFE ;
	border-radius:5px;
	box-shadow:0 0 5px #3d3d3d;
}